<div class="large-8 columns">
    <table class="table table-condensed table-striped clickable">
        <thead>
        <tr>
            <td>Name</td>
            <td>Route</td>
        </tr>
        </thead>
        <tbody>
            {{#each}}
            <tr {{action "viewCode" source this}}>
                <td>{{handlerName}}</td>
                <td>{{route}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{#if showingCode}}
    <div class="large-4 columns">
        <table class="table table-condensed">
            <thead>
            <tr>
                <td>
                    Code
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{view ExpressorChromeExtension.CodeView valueBinding="showingCode"}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{{/if}}


