<div class="large-6 columns">
    <header>
        <h3>
            Express settings
        </h3>
    </header>
    <table>
        <tbody>
            {{#each}}
            <tr>
                <td>{{name}}</td>
                <td>{{value}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="large-5 large-offset-1 columns">
    {{render "generalServerInfo"}}
</div>
